#{extends 'main.html' /}
#{set title:'User: ' + user.name /}

<a href="@{Users.index()}">&lt;-- back</a>

<h1>${user.name}</h1>

#{form action:@Users.update(user.id), enctype:'multipart/form-data'}
  <input type="text" name="user.name" value="${user.name}">
  <input type="email" name="user.email" value="${user.email}">
  <input type="number" name="user.age" value="${user.age}">
  #{if user?.image?.exists()}<a href="@{image(user.id)}">Download image (${user?.image?.length().formatSize()})</a>#{/if}
  #{else}<input type="file" name="user.image">#{/else}
  
  <input type="submit" value="Update">
#{/form}
	
#{form @delete(user.id)}
  <input type="submit" value="Delete">
#{/form}
